<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="/node_modules/react/dist/react.js" charset="utf-8"></script>
    <script src="/node_modules/react-dom/dist/react-dom.js" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
    <title>Movie Picker</title>
  </head>
  <body>
    <div class="container">

      <h1 class="text-center">Get your movie here</h1>
      <div id="root" class="text-center"></div>
      <script src="/reactStuff/main.js" type="text/babel" charset="utf-8"></script>
    </div>
  </body>
</html>
